@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;1,400&display=swap');
$dark: #22222b;
$light: #faf9fe;

body, html{
  height: 100vh;
}

body{
  font-family: 'Roboto', sans-serif;
  color: $dark;
}

.wrapper{
  max-width: 1170px;
  padding-right: 15px;
  padding-left: 15px;
  margin: 0 auto;
}

.main{
  background-image: url(../images/background.jpg);
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  justify-content: space-between;
  padding-top: 39px;
  padding-bottom: 42px;
  box-sizing: border-box;
}

.header{
  max-width: 1170px;
  padding-right: 15px;
  padding-left: 15px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav{
  list-style-type: none;
  padding-left: 0;
  margin: 0;
  display: flex;

  &-item{
    margin-left: 23px;
  }

  &-link{
    color: $dark;
    text-decoration: none;
    border-bottom: 1px solid transparent;
    transition: .3s;
    &:hover{
      border-bottom: 1px solid $dark;
    }
  }
}

.title-h1{
  font-size: 60px;
  text-align: center;
  font-weight: 300;
  span{
    font-weight: 500;
  }
}

.btn-scroll{
  background-color: transparent;
  border: none;
  display: block;
  margin: 0 auto;
}